@model dreamstarter_web.Models.ViewModels.DetailCampaignViewModel

@{
    var camp = Model;
}
<head>
   
   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#like").click(function(){
            if(@camp.UserId != 0){
                    $.post("/api/like", { CampaignId: @camp.CampaignId },
                function(data,status){
                        $("#likesNumber").text(data);
                });
            }
            else{
                alert("sory, please log in");
                //replace doesn't keep previous view in Session
                //useful for future
                //source:
                //https://stackoverflow.com/questions/503093/how-to-redirect-to-another-webpage
                window.location.replace("/account/login");
            }
           
        });

        $("#fund-button").on('click', function(){
            if(@camp.UserId != 0){
                <!-- location.reload(); -->
                $.post("/api/fund",
                { CampaignId: @camp.CampaignId, Amount: "100"},

                function(data,status){
                        var required = @camp.AmountRequired;
                        var raised = @camp.AmountRaised + data;
                        var procent_actual = Math.round(raised/required * 100);
                        $("#progress-bar").text(procent_actual + " %");
                        $("#amount-raised").text(raised + " DKK");
                        $("percent-of").text(raised + " of " + required + " DKK");
                });
                
            }
            else{
                alert("sory, please log in");
                //replace doesn't keep previous view in Session
                //useful for future
                //source:
                //https://stackoverflow.com/questions/503093/how-to-redirect-to-another-webpage
                window.location.replace("/account/login");
            }
           
        });

         $("#flip").click(function(){
        $("#panel").slideDown("slow");
    });
    });

    
</script>

 
<style> 
#panel {
    padding: 5px;
    text-align: center;
    background-color: #dddddd;
    opacity:0.5;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
}
</style>

</head>

<div class="container" id="container_main" style="margin-top:5em;">

    <!-- Title -->
    <div class="row" style="text-align:center; padding:3%;">
        <h1 >@camp.Title</h1>
    </div>

    <div class="row" style="margin-bottom:3%;">

        <!-- Left Column -->
        <div class="col-lg-8">
            
            <!-- Photo -->
            <dev>
                <img src="~/@camp.ThemeImageFileName" width="100%"/>
            </dev>

            <!-- Comment & Like -->
            <dev>
                 <a href="#" id="flip" class="btn btn-info btn-sm" style="margin-top:1%;" >
                    <span class="glyphicon glyphicon-comment"></span> Comment
                </a>
                <button id="like" class="btn btn-info btn-sm" style="margin-top:1%;">
                    <span class="glyphicon glyphicon-thumbs-up"></span> Like
                </button>
        
                    <span id="likesNumber" style="font-weight:bold; font-size:150%">@camp.NumberOfLikes</span>
                <div id="panel"> Comment </div>
            </dev>
            
            <!-- Synopsis -->
            <dev>
               <h3> @camp.Synopsis </h3> 
            </dev>
            <!-- Text - Details -->
            <dev>
                <h4>@camp.DetailDescription</h4>
            </dev>

            <!-- Comments -->
            <div style="margin-bottom:5%;">
                <h3>Comments:</h3>
            </div>

             
        </div>

        
        <!-- Right Column -->
        <div id="right-column" class="col-lg-4" style="padding-top: 1%; background-color:rgba(128, 128, 128, 0.164);">
           
            <!-- Button -->
            <div>
                <button id="fund-button" type="button" class="btn btn-primary btn-block Detail-Support-Btn">Support</button>
            </div>
            <!-- Campaign's Facts -->  
            <div class="progress">
                <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:@camp.PercentDone%; background-color:red;">@camp.PercentDone %</div>
            </div>
                <h1 id="amount-raised" style="padding-bottom:0px; margin-bottom:0px;">@camp.AmountRaised DKK</h1>
                <h4 id="percent-of" style="margin-top:0px; padding-top:0px;" >@camp.PercentDone% of @camp.AmountRequired DKK</h4>
                <h2 style="padding-bottom:0px; margin-bottom:0px;">@camp.DaysLeft</h2>  
                <h4 style="margin-top:0px; padding-top:0px;">days left</h4>
            </div>
        </div> 
    </div> 
    
</div><!-- End of Container -->

